html,
body {
    height: 100%;
    font-family: Poppins;
    font-style: normal;
    color: #000000;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.bootstrap-select .btn {
    border-style: solid;
    border-width: 1px;
    border-color: #ced4da;
    background-color: #ffffff;
    color: #495057;
}
/* 
.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
} */

/* Banner */
.banner img {
    width: 100%;
}

/* Tombol Daftar */
.tomboldaftar {
    font-weight: 800;
    font-size: x-large;
}

.tombol {
    height: 40px;
    font-size: 18px;
    font-weight: 5px;
    background-color: #42d12c;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}

/* Timeline */
.timeline {
    padding-top: 50px;
}

.mycard1 {
    border-radius: 30px;
    border: none;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
    height: 250px;
}

.mycard1:hover {
    transform: translate(5px);
    box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3);
}

.mycard {
    border-radius: 30px;
    border: none;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.mycard:hover {
    transform: translate(5px);
    box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3);
}

.mycard1 img {
    width: 100px;
    margin: 0 auto;
    padding-top: 30px;
}

.mycard1 h5 {
    font-size: 100%;
    font-weight: bold;
}

.mycard h5 {
    font-size: 100%;
    font-weight: bold;
}
/* Apa itu Bea Sariraya*/
.sariraya {
    margin-top: 50px;
    margin-bottom: 30px;
}

.sariraya img {
    width: 60%;
}

.foto {
    text-align: center;
}

.bea {
    background-color: #f9f5db;
    padding: 30px;
    width: 500px;
    text-align: center;
}

/* Tentang Sariraya */
.tentangsariraya {
    margin-top: 50px;
}

/* FAQ */
.faq {
    margin-top: 50px;
}

/* Kontak */
.kontak {
    margin-top: 100px;
    margin-bottom: 100px;
}

.kontak p {
    margin-top: 30px;
}

/* Register */
.welcom h1 {
    font-size: 70px;
    color: white;
}

.welcom p {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.banner-regist {
    position: fixed;
    top: 0;
    background-color: #cccccc;
    background-size: cover;
    background-position: center left;
    min-width: 100vw;
    min-height: 100vh;
    display: block;
    background-repeat: no-repeat;
}

.logo-img {
    position: absolute;
    background-repeat: no-repeat;
}

.logo-img img{
    margin-top: 30px;
    width: 40%;
}

.logo {
    position: fixed;
    background-repeat: no-repeat;
}

.logo img{
    width: 25%;
    margin-top: -200px;
}

/*Login*/

.logo2 {
    position: absolute;
    background-repeat: no-repeat;
}

.logo2 img{
    width: 40%;
    margin-top: 30px;
}


.logo-login {
    position: fixed;
    background-repeat: no-repeat;
}

.logo-login img{
    width: 25%;
    margin-top: -50px;
}

.row-kontak {
    margin-top: 2%;
}

.regis p {
    font-weight: bold;
}

.regis {
    border-radius: 15px;
}

.row-kontak1 {
    margin-top: 13%;
}
